<div class="header">
  <mat-toolbar color="primary">
    <span class="logo">SHILLONG TRAVELS</span>
    <span class="example-spacer"></span>
    <button mat-icon-button [matMenuTriggerFor]="menu" class="example-icon">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/home">
        <mat-icon>home</mat-icon>
        <span>Home</span>
      </button>
      <button mat-menu-item routerLink="/profile">
        <mat-icon>face</mat-icon>
        <span>Profile</span>
      </button>
      <button mat-menu-item routerLink="/mybookings">
        <mat-icon>favorite_border</mat-icon>
        <span>My Bookings</span>
      </button>
      <button mat-menu-item routerLink="/home">
        <mat-icon>exit_to_app</mat-icon>
        <span>Log Out</span>
      </button>
    </mat-menu>
  </mat-toolbar>
</div>