<div class="header">
  <mat-toolbar color="primary">
    <span class="logo">SHILLONG TRAVELS</span>
    <span class="example-spacer"></span>
    <div class="desktop-links">
        <a mat-button routerLink="/home">
          HOME
        </a>
        <a mat-button routerLink="/profile">
          PROFILE
        </a>
        <a mat-button routerLink="/bookings">
          MY BOOKINGS
        </a>
        <a mat-button routerLink="/offer">
          OFFERS
        </a>
        <a mat-button routerLink="/registration" *ngIf="!loggedIn">
          REGISTER
        </a>
        <a mat-button routerLink="/login" *ngIf="!loggedIn">
          SIGN IN
        </a>
        <a mat-button *ngIf="loggedIn" (click)="logOut()">
          SIGN OUT
        </a>
    </div>
    
    <div class="mobile-links">
      <button mat-icon-button [matMenuTriggerFor]="menu" class="example-icon">
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/home">
          <mat-icon>home</mat-icon>
          <span>Home</span>
        </button>
        <button mat-menu-item routerLink="/profile">
          <mat-icon>face</mat-icon>
          <span>Profile</span>
        </button>
        <button mat-menu-item routerLink="/bookings">
          <mat-icon>favorite_border</mat-icon>
          <span>My Bookings</span>
        </button>
        <button mat-menu-item routerLink="/offer">
          <mat-icon>favorite</mat-icon>
          <span>Offers</span>
        </button>
        <button mat-menu-item routerLink="/registration"  *ngIf="!loggedIn">
          <mat-icon>person_add</mat-icon>
          <span>Register</span>
        </button>
        <button mat-menu-item routerLink="/login"  *ngIf="!loggedIn">
          <mat-icon>fingerprint</mat-icon>
          <span>Sign In</span>
        </button>
        <button mat-menu-item *ngIf="loggedIn" (click)="logOut()">
          <mat-icon>exit_to_app</mat-icon>
          <span>Sign Out</span>
        </button>
      </mat-menu>
    </div>
  </mat-toolbar>
</div>