<div class="rounded-box drop-shadow">
  <div class="content align-left">
    <ng-template #noData >
      <div class="loading">
        <mat-spinner color="accent"></mat-spinner>
      </div>
    </ng-template>
    <div *ngIf="recievedTicket$ | async as recievedTicket else noData" class="inputs">
      <div *ngIf="success">


        <i class="material-icons icon_align" style="font-size:150px;color:#3F51B5;">check_circle</i>
        <h2>BOOKING SUCCESSFUL</h2>
        <p>Congratulations,</p>

        <p>Your {{recievedTicket.origin | uppercase}} to {{recievedTicket.destination | uppercase}} trip on {{recievedTicket.departure | date}} at {{recievedTicket.departure | time}} has successfully been booked.</p>
        <p>Your Booking ID is <span class="id">{{recievedTicket._id}}</span></p><br><br>

        <h4>Passengers:</h4>
        <div class="passengers" *ngFor="let passenger of recievedTicket.passengers; let i=index;">
          <p>{{i+1}}. <ng-template *ngIf="passenger.gender == 'female'; else male">Ms.</ng-template><ng-template #male>Mr.</ng-template> {{passenger.name}}</p><br>
        </div>
        <p>Thank you for booking with Shillong Travels.</p><br>
        <button class="submit" mat-raised-button color="accent" routerLink='/bookings'>Go To My Bookings</button>

      </div>
    </div>
  </div>