<div class="main-img rounded-box drop-shadow">
    <div class="flex-1">
        <div class="sec-a">
            <h2>ABOUT US</h2>
        </div>
    </div>

    <div class="para">
        <p>Welcome to Shillong Travels,<br>
            where we make booking vehicles easy for you.</p>

        <p>We are dedicated to making seats/cab reservations within the reach of a button click.</p><br>

        <p>No longer will you have to go personally to book your precious seat</p>
        <p>No longer will you have to call a list of agencies or drivers until you finally grab your seat.</p>

        <p>At Shillong Travels we made these easy for you.</p><br><br>

        <p>We only provide you information on the lists of vehicles that would be going to your destination on a
            specific date (chosen by you!)</p>

        <p>What's more? You can immediately book your seat!</p><br>

        <p>We hope you enjoy our services as much as we enjoy offering them to you.</p>
        <p>If you have any queries or comments, please do not hesitate to contact us.</p><br>

        <p>Happy Travelling,<br>
            Shillong Travels Team</p>
    </div>

    <!-- Boxes Section -->
    <section class="boxes">

        <mat-card>
            <div class="box">
                <img src="../../../assets/images/img_team/lari.png" alt="heprit">
                <h3>Ichimichi Laribok</h3>
                <p class="p_quotes">"le phuu, de la phuu"</p>
            </div>
        </mat-card>

        <mat-card>
            <div class="box">
                <img src="../../../assets/images/img_team/haphi.png" alt="haphuu">
                <h3>Haphisabet Chyne</h3>
                <p class="p_quotes">"You never lose. Either you win or you learn"</p>
            </div>
        </mat-card>

        <mat-card>
            <div class="box">
                <img src="../../../assets/images/img_team/teesy.png" alt="teesy">
                <h3>Teesta Koch</h3>
                <p class="p_quotes">"It doesnt matter where you are coming from. All that matters is where you are going. (Brian Tracy)"</p>
            </div>
        </mat-card>

        <mat-card>
            <div class="box">
                <img src="../../../assets/images/img_team/wiwat.png" alt="dohkha">
                <h3>Wiwatdaka Iakai</h3>
                <p class="p_quotes">"You do not just wake up and become the butterfly- growth is a process. (Rupi Kaur)"</p>
            </div>
        </mat-card>
    </section>

</div>