h1{
    font-size: 0.9rem;
    color: #555;
}
.price{
    font-size:  1rem;
    font-weight: 900;
    margin: 0.5rem 0.5rem 0 1.5rem ;
    color: #555;
}

.time{
    font-weight: 900;
    color: #333;
    font-size: 1.5rem;
}