ol{
    margin: 0;
}

h1{
    font-size: 0.9rem;
    color: #555;
}
.price{
    font-size:  1rem;
    font-weight: 900;
    color: #555;
}

.time{
    font-weight: 900;
    color: #333;
    font-size: 1.5rem;
}

.card{
    min-width: 250px;
    transition: 1s;
}
.card:hover{
    border-color: #3F51B5;
    background: #efefef;
}

.info{
     display: grid;
     grid-template-columns: 3fr 1fr 1fr 1fr;
     grid-gap: 3px;
     position: relative;
}

.dept-time{
    grid-column: 1/3;
}

.duration{
    grid-column: 3/5;
    justify-self: end;
}

.agency{
    grid-column: 1/5;
}
.details{
    grid-column: 1/4;
    grid-row: 4/5;
    justify-self: start;
    align-self: end;
}

.price{
    grid-column: 1/5;
    align-self: center;
    justify-self: end;
    padding-right: 5px;
}
.book-btn{
    grid-column: 4/5;
    justify-self: end;
}


.cards{
    display: grid;
    gap: 5px;
}

.info a{
    text-decoration: none;
    font-weight: 900;
    color: #3F51B5;
}

.info a:hover{
    color: #FB5A1D;
}

@media(min-width:780px) and (max-width:1000px){
    .cards{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-auto-columns: minmax(250px,auto);
    }
}

@media(min-width:1000px) and (max-width:1400px){
    .cards{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-auto-columns: minmax(250px,auto);
    }
}

@media(min-width:1400px){
    .cards{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-auto-columns: minmax(250px,auto);
    }
}
