<div class="rounded-box drop-shadow" *ngIf="!searched">
  <div class="content align-left">
    <h2>SEARCH</h2>
    <div class="inputs" [formGroup]="searchForm">
      <!-- {{searchForm.value|json}}  -->
      <div *ngIf="searchForm.invalid && searchForm.touched">
        <div *ngIf="searchForm.errors?.misMatch" class="formErrors rounded-box text-danger">ORIGIN AND DESTINATION
          CANNOT BE THE SAME</div>
      </div>
      <mat-form-field appearance="outline" class="form-group">
        <mat-label>Enter your origin</mat-label>
        <input matInput [class.is-invalid]="origin.invalid && origin.touched" formControlName="origin"
          [matAutocomplete]="autoGroup" class="form-control">
        <mat-autocomplete #autoGroup="matAutocomplete">
            <mat-optgroup *ngFor="let group of originGroupOptions | async" [label]="group.letter">
          <mat-option *ngFor="let location of group.locations" [value]="location">
          {{location}}
          </mat-option>
        </mat-optgroup>
        </mat-autocomplete>
        <mat-error *ngIf="origin.invalid && origin.touched">
          <small *ngIf="origin.errors?.required" class="text-danger">Origin is required</small>
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" class="form-group">
        <mat-label>Enter your destination</mat-label>
        <input matInput [class.is-invalid]="destination.invalid && destination.touched && searchForm.errors?.misMatch"
          formControlName="destination" [matAutocomplete]="autoGrp" class="form-control">
        <mat-autocomplete #autoGrp="matAutocomplete">
            <mat-optgroup *ngFor="let group of destinationGroupOptions | async" [label]="group.letter">
                <mat-option *ngFor="let location of group.places" [value]="location">
                {{location}}
          </mat-option>
          </mat-optgroup>
        </mat-autocomplete>
        <mat-error *ngIf="destination.invalid && destination.touched">
          <small *ngIf="destination.errors?.required" class="text-danger">Destination is required</small>
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" class="form-group">
        <mat-label>Select type</mat-label>
        <mat-select [class.is-invalid]="type.invalid && type.touched" formControlName="type" [(value)]="selected" class="form-control">
          <mat-option value="one">One Way</mat-option>
          <mat-option value="round">Round Trip (option currently not available)</mat-option>
        </mat-select>
        <mat-error *ngIf="type.invalid && type.touched">
          <small *ngIf="type.errors?.required" class="text-danger">Type is required</small>
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" class="form-group">
        <mat-label>Enter departure date</mat-label>
        <input matInput [class.is-invalid]="dept_date.invalid && dept_date.touched" formControlName="departure"
          [matDatepicker]="picker" class="form-control" readonly>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="dept_date.invalid && dept_date.touched">
          <small *ngIf="dept_date.errors?.required" class="text-danger">Departure Date is required</small>
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" class="form-group">
        <mat-label>Enter return date</mat-label>
        <input matInput [class.is-invalid]="return.invalid && return.touched" formControlName="return"
          [matDatepicker]="pickerone" selected class="form-control" readonly>
        <mat-datepicker-toggle matSuffix [for]="pickerone"></mat-datepicker-toggle>
        <mat-datepicker #pickerone></mat-datepicker>
      </mat-form-field>
      <mat-form-field appearance="outline" class="form-group">
        <mat-label>No. Of Passengers</mat-label>
        <input matInput [class.is-invalid]="NOP.invalid && NOP.touched" required min="1" formControlName="passengers"
          class="form-control">
        <div matSuffix class="inrdcr">
          <mat-icon (click)="decrementNP()"> indeterminate_check_box</mat-icon>
          <mat-icon (click)="incrementNP()">add_box</mat-icon>
        </div>
        <mat-error *ngIf="NOP.invalid && NOP.touched">
          <small *ngIf="NOP.errors?.required" class="text-danger">No. of passengers is required</small>
          <small *ngIf="NOP.errors?.min " class="text-danger">Invalid no. of passengers</small>
        </mat-error>
      </mat-form-field>
      <button [disabled]="searchForm.invalid" class="submit" mat-raised-button color="accent" (click)="onSubmit()" routerLink='/results'>SUBMIT</button>
    </div>
  </div>
</div>
