.right-arrow{
    margin: 0.5rem 0 0 0 ;
    vertical-align: bottom;
}

.source-destination{
    font-weight: 500;
}

.trip-options{
    display: flex;
    flex-wrap: nowrap;
    margin: 0 0 1rem 0;
}

.section-a{
    display: flex;
    flex-flow: column;
}

// car
.car .seat-svg{
    width: 4rem;
}

.car{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,auto);
    grid-gap: 1rem;
}

.disabled{
    fill: #ddd;
    border-color: #efefef;
}

.enabled{
    fill: rgb(134, 152, 253);
    border-color: rgb(134, 152, 253);
    transition: 1s;
}
.enabled:active{
    fill: rgb(255, 115, 0);
    border-color: rgb(255, 115, 0);
    cursor: pointer;
}
.enabled:hover{
    // fill: #3F51B5;
    // border-color: #3F51B5;
    cursor: pointer;
    // transform: scale(1.06);
}

.car .card{
    min-height: 80px;
    transition: 0.5s;
}
.car .card p{
    font-weight: 900;
    font-size: 0.8rem;
    text-align: center;
    margin: 0;
    color: #3F51B5;
}

.selected{
    fill:rgb(255, 115, 0);
    border-color: rgb(255, 115, 0);
}

.seat{
    display: grid;
    justify-items: stretch;
}
.car .seat:nth-last-child(2){
    fill: #3F51B5;
    grid-area: "driver";
}
.car .seat:nth-last-child(1){
    grid-column: 3/4;
}

.sumo{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(3,auto);
    grid-gap: 1rem;
    justify-content: space-around;
}

.sumo .seat-svg{
    width: 2rem;
}

.sumo .card{
    min-height: 60px;
    transition: 0.5s;
}

.sumo .seat:nth-last-child(2){
    fill: #3F51B5;
    grid-column: 1/3;
    grid-area: "driver";
}
.sumo .seat:nth-last-child(1){
    grid-column: 3/5;
}

.sumo .card p{
    font-weight: 900;
    font-size: 0.7rem;
    text-align: center;
    margin: 0;
    color: #3F51B5;
}

.bookButton{
    text-align:center; 
    margin-top: 50px;
}

.formPassenger {
    border: rgb(134, 152, 253) solid;
    padding: 5%;
    margin-bottom: 10px;
    border-width: 1px;
    border-radius: 3%;
}

.Gender {
    width: 100%;
}

.PName {
    width: 100%;
}

.Age {
    width: 100%;
}