h2{
    color: white;
}
.main-img
{
    background-image: radial-gradient(circle,#aaa, #888, #222);
}
  
  .flex-1
  {
      display: flex;
      justify-content: center;
  }

 .para{
     color: white;
     font-weight: 500;
     padding: 0 0.8rem;
 }
 
 .para p{
    color: white;
    font-weight: 400;
    margin-left: 0.3rem;
}