h2{
    color: white;
}
.main-img
  {
      background:url(https://images.unsplash.com/photo-1424460421773-58b49adfc68a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80);
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      width: inherit;
     
  }
  
  .flex-1
  {
      display: flex;
      justify-content: center;
  }

 .para{
     color: white;
     font-weight: 500;
 }
