h2{
    color: white;
}
.main-img
  {
      background-color: black;
  }
  
  .flex-1
  {
      display: flex;
      justify-content: center;
  }

 .para{
     color: white;
     font-weight: 500;
 }
