<div class="cards">
    <div class="container-one">
        <div *ngIf="bookings.length===0">
            <mat-card>
                <h4> No bookings</h4>
            </mat-card>
        </div>
        <ol *ngFor="let booking of bookings  | reverse ;let i=index">
            <div *ngIf="(i<3) || show">
                <!-- {{i}} -->
                <mat-card class="mat-card">
                    <mat-chip-list class="status">
                        <mat-chip *ngIf="booking.status=='completed'" style="background:#3F51B5" selected>{{booking.status}}</mat-chip>
                        <mat-chip *ngIf="booking.status=='upcoming'" style="background:rgb(58, 84, 230)" selected>{{booking.status}}</mat-chip>
                        <mat-chip *ngIf="booking.status=='cancelled'" style="background:#888" selected>{{booking.status}}</mat-chip>
                    </mat-chip-list>
                    <div class="source-destination">
                        {{booking.origin|uppercase}}
                        <mat-icon class="right-arrow">keyboard_arrow_right</mat-icon>
                        {{booking.destination|uppercase}}
                    </div>
                    <div class="departure-time">
                        <h3>Departure Time</h3>
                        <h2>{{booking.departure | time}}</h2>
                        <h3 style="display:inline">{{booking.departure| date:'dd-MM-yy'}}</h3>
                    </div>
                    <div class="agency">
                        <h3>{{booking.agency| uppercase}} / {{booking._id}}</h3>
                    </div>

                    <div class="flex-cont">
                        <div class="details">
                            <a (click)="openBottomSheet(booking)">click for more details</a>
                        </div>
                        <div class="cancel-btn">
                            <button mat-raised-button color="warn" (click)="cancel(booking,i)" [disabled]="booking.status!='upcoming'">Cancel</button>
                        </div>
                    </div>
                </mat-card>
            </div>
        </ol>
    </div>

    <button mat-button (click)="showMore()" *ngIf="show" style="width:100%;">
        Show Less
    </button>

    <button mat-button (click)="showMore()" *ngIf="!show" style="width:100%;">
        Show More
    </button>

</div>