.section-one
{
    display: flex;
    justify-content: space-between;
}

h2{
font-weight: 900;
    color: #333;
font-size: 1.5rem;
margin: 0;
}

.icon
{
    background: #3F51b5;
    color: white;
}

.rounded-box
{
    padding: 5px;
}

h3
{
    font-size: 0.9rem;
    color: #555;
    margin-bottom: 5px;
}

.source-destination{
    color: rgb(27, 22, 22);
    font-weight: 500;
    font-size: 18px;
}

.right-arrow{
    margin: 0.5rem 0 0 0 ;
    vertical-align: bottom;
}

.label
{   
    color: rgb(107, 103, 103);
    font-weight: 600;
}

.details
{   
    color: rgb(253, 135, 0);
    font-weight: 400;
}

.details:hover
{   
    color: rgb(253, 101, 0);
    cursor: pointer;
}

.button
{
    background: orange;
    color: white;
}

h4
{
    color: black;
    font-size: 0.9rem;
    font-weight: 600;
    margin: 7px 0px 7px 0px;
}

.button-click
{
    color: rgb(199, 140, 32);
    border: none;
    background: white;
}

.button-two
{
    background: rgb(77, 192, 238);
    color: white;
}

.section-b{
    display: flex;
    justify-content: space-between;
}

ol
{
    padding: 0px;
}

.cancel-button
{
    margin-top: 8px;
}

.passengers{
    margin-left:1rem;
}

.mat-card a{
    text-decoration: none;
    font-weight: 900;
    color: #3F51B5;
}

.mat-card a:hover{
    color: #FB5A1D;
}

.flex-cont
{
display: flex;
justify-content: space-between;
margin-top: 10px;
}

.status
{   
    float: right;
    margin-left: 2rem;
}

@media only screen and (min-width: 768px) {
.container-one
{
display: flex;
flex-wrap: wrap;
}
.container-one > ol{
    margin: 0px 15px 15px 0px;
}

.mat-card
{
    width: 400px;
}
}

.more{
    display: none;
}