<div class="main-img rounded-box drop-shadow">
    <div class="flex-1">
        <div class="sec-a">
            <h2>OUR OFFERED SERVICES</h2>
        </div>
    </div>
    <div class="flex-3">
        <div class="flex-a">
            <mat-card class="example-card">
                <img mat-card-image src="https://images.pexels.com/photos/6738/streets-lights-san-francisco-backpack.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="Bus">
                <mat-card-title>Cab Booking</mat-card-title>
                <mat-card-content>
                    <p>
                        Now Booking Cab has been made easier for you.
                        You do not need to talk personally to the taxi drivers anymore.
                        Just take your phone and book a cab from our website while sitting at home.
                    </p>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="flex-b">
            <mat-card class="example-card">
                <img mat-card-image src="https://images.pexels.com/photos/386009/pexels-photo-386009.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
                    alt="Photo of a Shiba Inu">
                <mat-card-title>Bus Booking</mat-card-title>
                <mat-card-content>
                    <p>
                        Booking your bus ticket has been made easier for you.
                        You do not need to go to the booking agencies anymore.
                        Just take your phone and book your ticket from our website while sitting at home.
                    </p>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="flex-c">
            <mat-card class="example-card">
                <img mat-card-image src="https://images.pexels.com/photos/1592261/pexels-photo-1592261.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="Photo of a Shiba Inu">
                <mat-card-title>Sumo Booking</mat-card-title>
                <mat-card-content>
                    <p>
                        Booking your sumo ticket has been made easier for you.
                        You do not need to go to the booking agencies anymore.
                        Just take your phone and book your ticket from our website while sitting at home.
                    </p>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="flex-d">
            <mat-card class="example-card">
                <img mat-card-image src="https://images.pexels.com/photos/1389339/pexels-photo-1389339.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
                    alt="Photo of a Shiba Inu">
                <mat-card-title>Swift Booking</mat-card-title>
                <mat-card-content>
                    <p>
                        Now Booking a Swift has been made easier for you.
                        You do not need to talk personally to the drivers prior booking anymore.
                        Just take your phone and book a swift from our website while sitting at home.
                    </p>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="flex-e">
            <mat-card class="example-card">
                <img mat-card-image src="https://images.pexels.com/photos/1371360/pexels-photo-1371360.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="Bus">
                <mat-card-title>Sightseeing</mat-card-title>
                <mat-card-content>
                    <p>
                        Now you can also book tourist cab for sight seeing from our website.
                        So, what are you waiting for.
                        Just take your phone and book your cab while sitting at home and enjoy the beauty of Meghalaya.
                    </p>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>
