
  .main-img
  {
      background:url(https://images.pexels.com/photos/957615/pexels-photo-957615.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      width: inherit;
  }
  
  .flex-1
  {
      display: flex;
      justify-content: center;
  }
  .sec-b{
      font-size: 12px;
      margin: 0px;
      font-family: Brush Script MT, Brush Script Std, cursive;
       letter-spacing: 1px;
       word-spacing: 3px;
       margin-bottom: 50px;
  }
  
  .flex-3{
      display:flex ;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
  }
  
  .example-card {
     margin: 20px 10px;
     max-width: 300px;
     color: aliceblue;
     background: none;
    }
  
  
  