<div class="rounded-box align-left drop-shadow">
  <div class="content">
    <div class="section-one">
      <div class="title">
        <h2>MY BOOKINGS</h2>
      </div>
      <div class="icon rounded-box">
        <mat-icon>tune</mat-icon>
      </div>
    </div>
    <h3>Upcoming Trips</h3>
    <div class="container-one">
      <ol *ngFor="let booking of UpcomingBookings">
        <mat-card>
          <div class="source-destination">
            {{booking.source}}
            <mat-icon class="right-arrow">keyboard_arrow_right</mat-icon>
            {{booking.destination}}
          </div>
          <div class="status">
            <h4><span class="details">Status : </span><button mat-raised-button class="button">{{booking.Status}}</button>
            </h4>
          </div>
          <div class="travel-date">
            <h4><span class="details">Travel Date : </span>{{booking.TravelDate| date:'dd-MM-yy'}}</h4>
          </div>
          <div class="departure-time">
            <h4><span class="details">Departure Time : </span>{{booking.DepartureTime|date:'hh:mm a'}}</h4>
          </div>
          <div class="click-more">
            <button class="button-click" mat-button>Click for more details</button>
          </div>
        </mat-card>
      </ol>
    </div>
    <h3>Completed Trips</h3>
    <div class="section-b">
      <div class="sorting">
        <mat-form-field>
          <mat-select [(value)]="selectedSortOption">
            <mat-option *ngFor="let sortOption of sortOptions" [value]="sortOption">
              {{sortOption}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="filtering">
        <button mat-flat-button color="accent">
          <mat-icon>filter_list</mat-icon>Filter
        </button>
      </div>
    </div>
    <div class="container-two">
      <ol *ngFor="let bookings of PastBookings">
        <mat-card>
          <div class="source-destination">
            {{bookings.source}}
            <mat-icon class="right-arrow">keyboard_arrow_right</mat-icon>
            {{bookings.destination}}
          </div>
          <div class="status">
            <h4><span class="details">Status : </span><button mat-raised-button class="button-two">{{bookings.Status}}</button>
            </h4>
          </div>
          <div class="travel-date">
            <h4><span class="details">Travel Date : </span>{{bookings.TravelDate| date:'dd-MM-yy'}}</h4>
          </div>
          <div class="departure-time">
            <h4><span class="details">Departure Time : </span>{{bookings.DepartureTime|date:'hh:mm a'}}</h4>
          </div>
          <div class="click-more">
            <button class="button-click" mat-button>Click for more details</button>
          </div>
        </mat-card>
      </ol>
    </div>
  </div>
</div>