<div class="rounded-box align-left drop-shadow">
  <div class="content">
    <div *ngIf="!loaded" class="loading">
      <mat-spinner color="accent"></mat-spinner>
    </div>
    <div *ngIf="loaded">
      <div class="section-one">
        <div class="title">
          <h2>MY BOOKINGS</h2>
        </div>
        <div class="icon rounded-box">
          <mat-icon>tune</mat-icon>
        </div>
      </div>
      <h3 class="section">Upcoming Trips</h3>
  
      <app-card [bookings]="upcoming"></app-card>
  
      <h3 class="section">Completed Trips</h3>
  
      <app-card [bookings]="completed"></app-card>
  
      <h3 class="section">Cancelled Trips</h3>
  
      <app-card [bookings]="cancelled"></app-card>
    </div>
  </div>
</div>