.header {
    position: relative;
    width: 100%;
    padding-left: 15px;
}

.info {
    text-align: center;
}

.header-m-image {
  background-image: url("../../../assets/images/user_male.png");
  background-size: cover;
}

.header-f-image {
    background-image: url("../../../assets/images/user_female.png");
    background-size: cover;
}

.header-info {
    border-bottom: lightgray solid;
    border-width: 1px;
    padding-top: 2%;
}

.card {
  max-width: 100%;
  padding: 0px;
  padding-bottom: 20px;
}

.edit, .editButton {
    display: inline-block;
    margin: 10px;
}

.form {
    text-align: center;
}