.header {
    position: relative;
    width: 100%;
    padding-left: 15px;
    margin-top: 15px; 
}

.header-m-image {
    background-image: url("../../../assets/images/man.png");
    background-size: cover;
  }
  
.header-f-image {
    background-image: url("../../../assets/images/woman.png");
    background-size: cover;
}
  
.header-info {
    border-bottom: lightgray solid;
    border-width: 1px;
    padding-top: 2%;
}

.info {
    text-align: left;
    padding-left: 30px;
    padding-bottom: 20px;
    padding-right: 30px;
}

button {
    margin-left: 5px;
    padding: 5px;
}

.card {
  max-width: 100%;
  padding: 0px;
  padding-bottom: 20px;
}

.edit, .editButton {
    display: inline-block;
}

.editButton {
    padding: 0px;
    margin: 0px;
    float: right;
}

.form {
    text-align: center;
}

.full-width {
    width: 90%;
}