.header {
    text-align: center;
}
    
.image {
    text-align: center;
    padding: 20px;
}
    
.info {
    text-align: center;
}

hr {
    width:50%; 
    height:1px; 
    background: #3F51B5;
}

img {
    border-radius: 50%;
    width: 100px;
}