<div class="rounded-box drop-shadow">
  <div class="content align-left">
    <h2>PAYMENTS</h2>
    <div class="inputs">
      <mat-form-field appearance="outline" class="form-group">
        <mat-label>Select Your Bank</mat-label>
        <mat-select [(value)]="selected" class="form-control">
          <mat-option value="sbi">State Bank Of India</mat-option>
          <mat-option value="axis">Axis Bank</mat-option>
          <mat-option value="icici">ICICI</mat-option>
          <mat-option value="hdfc">HDFC</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline" class="form-group">
        <mat-label>Enter Name on Credit/Debit Card</mat-label>
        <input matInput placeholder="Card Holder Name">
      </mat-form-field>
      <mat-form-field appearance="outline" class="form-group">
        <mat-label>Enter Your Card Number</mat-label>
        <input matInput placeholder="Card Number">
      </mat-form-field>
      <div class="expiry-date">
        <mat-form-field appearance="outline" class="month">
          <mat-label>Month</mat-label>
          <mat-select placeholder="mm">
            <mat-option value="01">JANUARY</mat-option>
            <mat-option value="02">FEBRUARY</mat-option>
            <mat-option value="03">MARCH</mat-option>
            <mat-option value="04">APRIL</mat-option>
            <mat-option value="05">MAY</mat-option>
            <mat-option value="06">JUNE</mat-option>
            <mat-option value="07">JULY</mat-option>
            <mat-option value="08">AUGUST</mat-option>
            <mat-option value="09">SEPTEMBER</mat-option>
            <mat-option value="10">OCTOBER</mat-option>
            <mat-option value="11">NOVEMBER</mat-option>
            <mat-option value="12">DECEMBER</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" class="year">
          <mat-label>Year</mat-label>
          <mat-select placeholder="yy">
            <mat-option value="01">JANUARY</mat-option>
            <mat-option value="02">FEBRUARY</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline" class="cvv">
          <mat-label>CVV</mat-label>
          <input matInput placeholder="cvv">
        </mat-form-field>
        
        
      </div>
    </div>
    <div class="align-center mt">
      <button routerLink='/success_payment' color="accent" type="submit"mat-raised-button>
        Confirm Payment
      </button><br>
    </div>
  </div>
</div>