<div class="rounded-box drop-shadow">
  <div class="content align-left">
    <h2>PAYMENTS</h2>
    <div class="inputs" [formGroup]="stateForm">
      <mat-form-field appearance="outline" class="form-group">
        <mat-label>Select Your Bank</mat-label>
        <input type="text" matInput placeholder="States Group" formControlName="stateGroup" required [matAutocomplete]="autoGroup">
      <mat-autocomplete #autoGroup="matAutocomplete">
        <mat-optgroup *ngFor="let group of stateGroupOptions | async" [label]="group.letter">
          <mat-option *ngFor="let name of group.names" [value]="name">
            {{name}}
          </mat-option>
      </mat-optgroup>
    </mat-autocomplete>
      </mat-form-field>
      <mat-form-field appearance="outline" class="form-group">
        <mat-label>Enter Name on Credit/Debit Card</mat-label>
        <input matInput placeholder="Card Holder Name">
      </mat-form-field>
      <mat-form-field appearance="outline" class="form-group">
        <mat-label>Enter Your Card Number</mat-label>
        <input matInput placeholder="Card Number">
      </mat-form-field>
      <div class="expiry-date">
        <mat-form-field appearance="outline" class="month">
          <mat-hint>Expiry Date</mat-hint>
          <mat-label>Month</mat-label>
          <input matInput placeholder="Month" aria-label="Month" [matAutocomplete]="auto" [formControl]="monthCtrl">
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let month of filteredMonths|async" [value]="month.number"> <span>{{month.name}}</span></mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <mat-form-field appearance="outline" class="year">
          <mat-label>Year</mat-label>
          <input matInput placeholder="yy">
        </mat-form-field>
        <mat-form-field appearance="outline" class="cvv">
          <mat-label>CVV</mat-label>
          <input matInput placeholder="cvv">
        </mat-form-field>
      </div>
    </div>
  </div>
</div>