.inputs > * {
    width: 100%;
}

.expiry-date
{
    display: flex;
}

.month
{
    width: 100px;
}

.year
{
    width:100px;
    margin-left: 8px;
}

.cvv
{
    width: 4.5rem;
    margin-left: 35px;
}

form{
    margin-top: 2rem;
}


h3{
    font-size: 0.9rem;
    color: #3f3f3f;
}

h3{
    font-size: 0.9rem;
    color: #3f3f3f;
}

.order-details div{
    color: rgb(255, 102, 42);
    font-weight: 600;
}

.order-details span{
    color: #666;
    font-weight: 500;
}

.passenger{
    margin-left: 1rem;
}