.right-arrow{
    margin: 0.5rem 0 0 0 ;
    vertical-align: bottom;
}

.source-destination{
    font-weight: 500;
}

.trip-options{
    display: flex;
    flex-wrap: nowrap;
    margin: 0 0 1rem 0;
}

.section-a{
    display: flex;
    flex-flow: column;
}

.section-b{
    display: flex;
    justify-content: space-between;
}

.empty-space{
    margin-top: 10rem;
}