<div class="rounded-box drop-shadow">
  <div class="content align-left">
    <h2><i>CREATE AN ACCOUNT</i></h2>
    <p>
      <mat-form-field appearance="outline">
        <mat-label>Enter your first name</mat-label>
        <input matInput placeholder="FIRST NAME">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>Hint</mat-hint>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="outline">
        <mat-label>Enter your last name</mat-label>
        <input matInput placeholder="LAST NAME">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>Hint</mat-hint>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="outline">
        <mat-label>Enter your phone number</mat-label>
        <input matInput placeholder="PHONE NO.">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>Hint</mat-hint>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="outline">
        <mat-label>Enter your email-id</mat-label>
        <input matInput placeholder="EMAIL-ID">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>Hint</mat-hint>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field>
        <select matNativeControl required>
          <option value="independent-driver">Independent Driver</option>
          <option value="driver-under-agency">Driver Under Agency</option>
          <option value="customer">Customer</option>
        </select>
      </mat-form-field>
      <br>
      <small>Select a User Type</small>
    </p>
  </div>
  <div class="align">
    <button color="accent" mat-raised-button><a href="#">SIGN UP</a></button><br>
    <small>By signing up, you agree to the terms and conditions</small><br>
    <small><b>Have an account? <a class="text-deco" href="#">Login</a></b></small>
  </div>
</div>