<div class="rounded-box drop-shadow">
  <div class="content align-left">
    <h1><i>CONTACT US</i></h1>
    <h5 *ngIf="success">Your message has been sent!</h5>

    <div class="inputs">
      <form [formGroup]="messageForm" (ngSubmit)="onSubmit()" class="form-group">
        <mat-form-field class="full-width" appearance="outline">
          <input matInput placeholder="Email" formControlName="email">
          <mat-error *ngIf="messageForm.controls.email.invalid && !messageForm.controls.email.hasError('required')">
            Please enter a valid email address
          </mat-error>
          <mat-error *ngIf="messageForm.controls.email.hasError('required')">
            Email is required
          </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width" appearance="outline">
          <mat-select placeholder="Issue" ng-required=true formControlName="subject">
            <mat-option *ngFor="let subject of subjects" [value]="subject.value">
              {{subject.viewValue}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="messageForm.controls.subject.hasError('required')">
           Required
          </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width" appearance="outline">
          <textarea matInput placeholder="Leave a message" formControlName="message"></textarea>
          <mat-error *ngIf="messageForm.controls.message.hasError('required')">
            Message required
          </mat-error>
        </mat-form-field>
        <div class="align">
          <button mat-raised-button color="accent" type="submit">Send Message</button>
        </div>

      </form>
    </div>
  </div>
