.logo-container{
    margin-top: 3em;
    text-align: center;
    color: white;
    font-weight: 100;
}

.logo{
    font-style: italic;
    font-size: 2em;
    font-weight: 500;
}

.intro span{
    font-size: 2rem;
  }

