<div class="grid">

  <div class="rounded-box align-center drop-shadow">

    <div class="section-a">
      <h1> <span>WELCOME TO</span> <span>SHILLONG TRAVELS</span></h1>
      <p>WHERE WE MAKE BOOKING VEHICLES EASIER FOR YOU</p>
      <button color="accent" mat-raised-button (click)="openDialog()" >START BOOKING</button>
    </div>
  
    <div class="section-b">
      <small>If you already have an account</small>
      <button color="accent" mat-raised-button>SIGN IN</button>
      <small>otherwise you can register and create and account now</small>
      <button color="accent" mat-raised-button routerLink="/account-registration">REGISTER</button>
    </div>
  
  </div>
  
  <div class="section-c">
    <div class="logo">
      SHILLONG TRAVELS
    </div>
    YOUR TRAVEL COMPANION
  </div>
</div>