<div class="rounded-box">
    
    <div style="margin-top:3em;">
      <p style="padding: 0 1.5rem 0 1.5rem;" class="intro">
        <span>WELCOME TO SHILLONG TRAVELS</span> WHERE WE MAKE BOOKING VEHICLES EASIER FOR YOU
      </p>
      <button color="accent" mat-raised-button>START BOOKING</button>
    </div>
  
    <div style="margin-top:5em">
      <small>If you already have an account</small>
      <br>
      <button color="accent" mat-raised-button>SIGN IN</button>
    </div>
  
    <div style="margin-top:1em">
      <small>otherwise you can register and create and account now</small>
      <br>
      <button color="accent" mat-raised-button>REGISTER</button>
    </div>
  
  </div>
  
  <div class="logo-container">
    <div class="logo">
      SHILLONG TRAVELS
    </div>
    YOUR TRAVEL COMPANION
  </div>